<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tools.aytech.mobilprogramming1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/form_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FormActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tools.aytech.mobilprogramming1.LoginActivity" />
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/app_name"
            android:parentActivityName=".FormActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tools.aytech.mobilprogramming1.FormActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.APP_EMAIL" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.APP_CONTACTS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".FormActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tools.aytech.mobilprogramming1.FormActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tools.aytech.mobilprogramming1.ListActivity"/>
        </activity>
    </application>

</manifest>